ipywidgets==7.6.5
jupyter==1.0.0
jupyter-nbextensions-configurator==0.4.1
matplotlib 
nbconvert==5.6.1
nbformat 
numpy 
pandas 
scipy 
tornado 
voila==0.1.24
voila-debug==0.0.1
voila-gridstack 
widgetsnbextension==3.5.1
IPython
